<div th:if="${movieResponseDTO}" th:fragment="result">
    <table>
        <thead>
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Overview</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movieResponseDTO.results}">
            <td th:text="*{movie.id}"></td>
            <td th:text="*{movie.title}"></td>
            <td th:text="*{movie.releaseDate}"></td>
            <td th:text="*{movie.overview}"></td>
        </tr>
        </tbody>
    </table>
</div>