/* Bringing in fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

/* General declarations: fonts, then colours,
font-sizes and line-heights as variables */
:root {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: var(--black);

    --teal: hsl(192, 37%, 48%);
    --teal-75: hsla(192, 37%, 48%, 85%);
    --teal-2: #71C0D4;
    --light-teal: #8FE3F9;
    --dark-purple: #855FB1;
    --purple: #B18BDD;
    --light-purple: #D9B8FF;
    --black: #28283D;
    --grey: #87879D;
    --grey-25: hsla(240, 10%, 57%, 25%);
    --cyan: #8FE3F9;

    --light-purple: #D9B8FF;
    --white: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 2rem;
    background: var(--teal-2);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 11px 34px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 34px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 34px -13px rgba(0,0,0,0.75);
}

*:focus {
    outline: solid var(--black) 2px;
    outline-offset: 4px;
}

.field {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    display: block;
    padding: .5rem;
    border-radius: .5rem;
    border-style: hidden;
    margin: .5rem 0;
}

.button {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin: .5rem 0;
    border-style: hidden;
    padding: .5rem;
    border-radius: .5rem;
    background: var(--teal);
    color: white;
}

.button:hover {
    background: var(--teal-2);
    outline: solid 1px var(--cyan);
    color: white;
}

.button:active {
    background: var(--white);
    outline: solid 1px var(--cyan);
    color: var(--teal);
}

a:hover {
    color: white;
}

.profile-image {
    max-width: 8rem;
    margin-bottom: 2rem;
}

