<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
        <title>MovieDB Shenanigans</title>
    </head>
    <body>
        <main>
            <img src="images/profile.png" class="profile-image" alt="Profile picture placeholder">
            <form th:action="@{/login}" method="post">
                <input class="field" type="text" name="username" placeholder="Username" required>
                <input class="field" type="password" name="password" placeholder="Password" required>

                <div th:if="${error}">
                    <p class="error">Username or password incorrect</p>
                </div>

                <input class="button" type="submit" value="Log in">
            </form>
            <p>Don't have an account? </p>
            <a th:href="@{/register}">Register here</a>
        </main>
    </body>
</html>