<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
        <title>MovieDB Shenanigans - register</title>
    </head>
    <body>
        <main>
            <img src="images/profile.png" class="profile-image" alt="Profile picture placeholder">
            <form action="/add-user" method="post">
                <input class="field" type="text" name="username" placeholder="Username" required>
                <input class="field" type="password" name="password" placeholder="Password" required>
                <input class="button" type="submit" value="Sign up">
            </form>
        </main>
    </body>
</html>