<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>MovieDB Shenanigans - Search</title>
    </head>
    <body>
        <main>
            <h1>Hello World!</h1>
<!--            <h2 th:if="${movies.isEmpty()}">No movies matching search found</h2>-->
<!--            <table th:if="${!movies.isEmpty()}">-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <th>Movie ID</th>-->
<!--                        <th>Title</th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr th:each="movie : ${movies}" th:object="${movie}">-->
<!--                        <td th:text="*{id}"></td>-->
<!--                        <td th:text="*{title}"></td>-->
<!--                    </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </main>
    </body>
</html>