<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{css/style.css}"/>
        <title>MovieDB Shenanigans - Search</title>
    </head>
    <body>
        <main>
            <form th:action="@{/search}" method="Post">
                <input class="field" type="text" name="query" required>
                <input class="button" type="submit" value="Search">
            </form>

            <div><p class="announcement" th:if="${message}" th:text="${message}"></p></div>
            <div th:replace="~{fragments/resultMovie :: result}"></div>
        </main>
    </body>
</html>